<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="Server=45.76.37.186;Uid=commodity;Pwd=mxylls123!@#;Database=commodity;"/>
  </connectionStrings>
</configuration>